<div *ngIf="isLoading" class="loading-container">
  <app-spinner></app-spinner>
  </div>

<div *ngIf="!isLoading">
   <div *ngIf="loadingError" class="alert alert-danger">
       {{ loadingError }}
       <br> <a routerLink="/recipes" class="action-link back-link">Înapoi la listă</a>
   </div>

   <ng-container *ngIf="!loadingError && (recipe$ | async) as recipe">
     <ng-container *ngIf="recipe; else recipeNotFoundOrError">
         <h2>{{ recipe.name }}</h2>
         <img *ngIf="recipe.imageUrl" [src]="recipe.imageUrl" [alt]="recipe.name" class="recipe-image"> <p class="recipe-description">{{ recipe.description }}</p> <h3>Ingrediente:</h3>
         <ul class="ingredients-list"> <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
         </ul>

         <h3>Instrucțiuni:</h3>
         <div class="recipe-instructions">{{ recipe.instructions }}</div> <div class="recipe-actions"> <a [routerLink]="['/recipes', recipe.id, 'edit']" class="action-link">Editează Rețeta</a>
             <a routerLink="/recipes" class="action-link back-link">Înapoi la listă</a>
         </div>
     </ng-container>
     <ng-template #recipeNotFoundOrError>
         <p *ngIf="!loadingError">Rețeta nu a putut fi găsită.</p>
     </ng-template>
   </ng-container>

</div>