<header>
    <nav>
      <ul>
        <li><a routerLink="/recipes">Rețete</a></li>
  
        <ng-container *ngIf="isAuthenticated$ | async; else loggedOutLinks">
           <li><a routerLink="/recipes/new">Adaugă Rețetă</a></li>
           <li><button (click)="logout()" class="logout-button">Logout</button></li>
           </ng-container>
  
        <ng-template #loggedOutLinks>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/register">Înregistrare</a></li>
        </ng-template>
  
      </ul>
    </nav>
  </header>
  
  <main class="main-container">
    <router-outlet></router-outlet>
  </main>
  

  