<ng-container *ngIf="recipe$ | async as recipe; else loading">
    <h2>{{ recipe.name }}</h2>
    <img *ngIf="recipe.imageUrl" [src]="recipe.imageUrl" [alt]="recipe.name" width="200">
    <p>{{ recipe.description }}</p>
  
    <h3>Ingrediente:</h3>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
    </ul>
  
    <h3>Instrucțiuni:</h3>
    <p>{{ recipe.instructions }}</p>
  
    <a [routerLink]="['/recipes', recipe._id, 'edit']">Editează Rețeta</a>
    <br>
    <a routerLink="/recipes">Înapoi la listă</a>
  </ng-container>
  
  <ng-template #loading><p>Se încarcă detaliile rețetei...</p></ng-template>