<h2>Lista Rețete</h2>

<a routerLink="/recipes/new" class="add-recipe-link">Adaugă Rețetă Nouă</a>

<div *ngIf="isLoading" class="loading-container">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!isLoading">
  <div *ngIf="loadingError" class="alert alert-danger">
    {{ loadingError }}
  </div>

  <ng-container *ngIf="recipes$ | async as recipes">
    <ul *ngIf="recipes.length > 0; else noRecipes">
      <li *ngFor="let recipe of recipes" (click)="goToRecipeDetail(recipe.id)">
        <h3>{{ recipe.title }}</h3>
        <p>{{ recipe.description }}</p>
      </li>
    </ul>
  </ng-container>
  
  <ng-template #noRecipes>
    <p>Nu există rețete adăugate.</p>
  </ng-template>
  

  <ng-template #genericErrorOrNoData>
    <p class="error-message">Nu s-au putut încărca datele.</p>
  </ng-template>
</div>
