<h2>Lista Rețete</h2>
<a routerLink="/recipes/new" class="add-recipe-link">Adaugă Rețetă Nouă</a> <div *ngIf="isLoading" class="loading-container">
   <app-spinner></app-spinner>
   </div>

<div *ngIf="!isLoading">
  <div *ngIf="loadingError" class="alert alert-danger">
      {{ loadingError }}
  </div>

  <div *ngIf="!loadingError && (recipes$ | async) as recipes; else genericErrorOrNoData">
    <li *ngFor="let recipe of recipes" [routerLink]="['/recipes', recipe.id]" class="recipe-item">
      <span>{{ recipe.name }}</span>
      <button (click)="deleteRecipe(recipe.id, $event)" class="delete-button">Șterge</button>
    </li>
    <ng-template #noRecipes>
        <p class="no-recipes-message">Nu există rețete adăugate.</p> </ng-template>
  </div>

  <ng-template #genericErrorOrNoData>
      </ng-template>
</div>
