<h2>Lista Rețete</h2>
<a routerLink="/recipes/new">Adaugă Rețetă Nouă</a>

<div *ngIf="recipes$ | async as recipes; else loading">
  <ul *ngIf="recipes.length > 0; else noRecipes">
    <li *ngFor="let recipe of recipes" [routerLink]="['/recipes', recipe._id]">
      {{ recipe.name }}
      <button (click)="deleteRecipe(recipe._id, $event)">Șterge</button>
    </li>
  </ul>
  <ng-template #noRecipes><p>Nu există rețete.</p></ng-template>
</div>

<ng-template #loading><p>Se încarcă rețetele...</p></ng-template>